.mt-admin {
  padding-top: 100px;
  padding-bottom: 50px;
}

.border-nav {
  border-right: 1px solid #e0e0e0;
}

.py-2-ad {
  height: 3.5rem;
}

.text-underline {
  text-decoration: underline;
}

.filter-price-invoice {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.color-black {
  color: black;
}

.fs-small {
  font-size: 0.9rem;
}

.h-100vh {
  height: 80vh;
}

.detail-user-admin {
  background-color: #fff;
  border: none;
}

.mr-btn {
  margin-right: 1rem;
}

.side-bar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 97vh;
}

p img {
  display: block;
  margin: 0 auto;
}

.vertical-line {
  display: inline-block;
  border-left: 2px solid #000; /* Màu sắc và độ dày của đường */
  opacity: 0.7;
  height: 2rem; /* Chiều cao của đường */
  margin: 0 10px; /* Khoảng cách bên trái và phải của đường */
}

.ml-1rem {
  margin-left: 1rem;
}
