.form-profile-register {
  height: 60vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-profile-signin {
  height: 40vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 50%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-submit {
  background-color: #146d4d;
  color: #fff;
}

.btn-submit:hover {
  background-color: #0e4a34;
  color: #fff;
}

.text-redirect {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
}

.text-redirect-login {
  position: absolute;
  bottom: -15px;
  display: flex;
  justify-content: center;
  width: 100%;
  right: 0;
}

.mr-p-130 {
  margin-right: 130px;
}

.img-cancel-login {
  top: 10px;
  right: 15px;
  position: absolute;
  width: 18px;
}

.mw-xl {
  max-width: 86%;
  margin: 0 auto;
}

.mw-lg {
  max-width: 60%;
  margin: 0 auto;
}
.nav-item-text {
  font-size: 1.6rem;
  padding: 0 20px;
}

.header-position {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.z-index-dropdown {
  z-index: 9999999;
}

.btn-dropdown-border {
  border: none;
}

.btn-login {
  background-color: #146d4d;
  color: #fff;
  border-radius: 10px;
  padding: 6px 16px;
  font-size: 0.8rem;
  border: none;
}

.mr-17 {
  margin-right: 17px;
}


.w-10{
  width: 15% !important;
}

.icon-i18{
  width:2rem;
  height:2rem;
  margin: 0 4px;
}

.ml-20{
  margin-left: 1.2rem;
}
