<div class="banner">
    <div class="bg-image">
        <div class="text-banner">
            <p class="fw-bold">Romance</p>
            <button type="button" class="btn-morii">{{t 'home.more-btn'}}</button>
        </div>
    </div>
</div>
