<div class="blog">
    <div>
        <p class="text-center text-color title-menu">Morii Blog</p>
    </div>
    <div class="mw-xl">
        <div class="row-blog">
            <div class="card blog-item cursor-pointer" style="width: 18rem; margin-top: 5rem;">
                <img src="https://file.hstatic.net/1000075078/article/thecoffehouse_ca_phe_01_b4adbd88db6e4ca3b7c2c5934d1a1ed9_master.jpg"
                    class="card-img-top h-20-r" alt="...">
                <div class="card-body fw-bold">
                    <p class="card-text">CÁCH NHẬN BIẾT HƯƠNG VỊ CÀ PHÊ ROBUSTA NGUYÊN CHẤT DỄ DÀNG NHẤT</p>
                </div>
            </div>
            <div class="card blog-item cursor-pointer" style="width: 18rem; margin-top: 5rem;">
                <img src="https://file.hstatic.net/1000075078/article/thecoffeehouse_caphe_7_db8def55acbf426ea725921529f6f01e_master.jpg"
                    class="card-img-top h-20-r" alt="...">
                <div class="card-body fw-bold">
                    <p class="card-text">BẬT MÍ NHIỆT ĐỘ LÝ TƯỞNG ĐỂ PHA CÀ PHÊ NGON, ĐẬM ĐÀ HƯƠNG VỊ</p>
                </div>
            </div>
            <div class="card blog-item cursor-pointer" style="width: 18rem; margin-top: 5rem;">
                <img src="https://file.hstatic.net/1000075078/article/_downloader.la_-61e6d5a3a5d26_7b6959cb5b1e4716a4a60869dae53074_master.jpg"
                    class="card-img-top h-20-r" alt="...">
                <div class="card-body fw-bold">
                    <p class="card-text">TẠI SAO CÀ PHÊ CÓ VỊ CHUA?</p>
                </div>
            </div>
        </div>
        <div class="row-blog">
            <div class="card blog-item cursor-pointer" style="width: 18rem; margin-top: 5rem;">
                <img src="https://file.hstatic.net/1000075078/article/1_d20823a852a544d49b44cc0e99d4c5a2_master.jpg"
                    class="card-img-top h-20-r" alt="...">
                <div class="card-body fw-bold">
                    <p class="card-text">GU THƯỞNG THỨC CÀ PHÊ CỦA NGƯỜI SÀNH ĐIỆU</p>
                </div>
            </div>
            <div class="card blog-item cursor-pointer" style="width: 18rem; margin-top: 5rem;">
                <img src="https://file.hstatic.net/1000075078/article/blog_f80b599183c340bca744c174e7ab2af8_master.jpg"
                    class="card-img-top h-20-r" alt="...">
                <div class="card-body fw-bold">
                    <p class="card-text">ESPRESSO LÀ GÌ? CÁCH PHÂN BIỆT CÁC LOẠI ESPRESSO</p>
                </div>
            </div>
            <div class="card blog-item cursor-pointer" style="width: 18rem; margin-top: 5rem;">
                <img src="https://file.hstatic.net/1000075078/article/1_c208e33dcadd40cbb9cdd7621a21654a_master.jpg"
                    class="card-img-top h-20-r" alt="...">
                <div class="card-body fw-bold">
                    <p class="card-text">VĂN HOÁ UỐNG TRÀ CỦA NGƯỜI VIỆT XƯA VÀ NAY</p>
                </div>
            </div>
        </div>
    </div>
</div>
