<div class="menu ">
    <div>
        <p class="text-center text-color title-menu">{{t 'home.menu'}}</p>
    </div>
    <div class="  mw-xl">
        <div class="d-flex justify-content-between mt-5">
            <div class="row-menu ">
                <div class="menu-item">
                    <div>
                        <img class="image-menu"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvvid7Rti2V2O18lHOD46fsRqEkN4WLH29Ow&s"
                            alt="">
                    </div>
                    <div>
                        Expresso nóng nâu đá
                    </div>
                    <div class="text-price">39.000đ</div>

                </div>
            </div>
            <div class="row-menu justify-content-end">
                <div class="menu-item">
                    <div>
                        <img class="image-menu"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvvid7Rti2V2O18lHOD46fsRqEkN4WLH29Ow&s"
                            alt="">
                    </div>
                    <div>
                        Expresso
                    </div>
                    <div class="text-price">39.000đ</div>

                </div>
            </div>

        </div>
        <div class="d-flex justify-content-between mt-5">
            <div class="row-menu ">
                <div class="menu-item">
                    <div>
                        <img class="image-menu"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvvid7Rti2V2O18lHOD46fsRqEkN4WLH29Ow&s"
                            alt="">
                    </div>
                    <div>
                        Expresso nóng nâu đá
                    </div>
                    <div class="text-price">39.000đ</div>

                </div>
            </div>
            <div class="row-menu justify-content-end">
                <div class="menu-item">
                    <div>
                        <img class="image-menu"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvvid7Rti2V2O18lHOD46fsRqEkN4WLH29Ow&s"
                            alt="">
                    </div>
                    <div>
                        Expresso
                    </div>
                    <div class="text-price">39.000đ</div>

                </div>
            </div>

        </div>
        <div class="d-flex justify-content-between mt-5">
            <div class="row-menu ">
                <div class="menu-item">
                    <div>
                        <img class="image-menu"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvvid7Rti2V2O18lHOD46fsRqEkN4WLH29Ow&s"
                            alt="">
                    </div>
                    <div>
                        Expresso nóng nâu đá
                    </div>
                    <div class="text-price">39.000đ</div>

                </div>
            </div>
            <div class="row-menu justify-content-end">
                <div class="menu-item">
                    <div>
                        <img class="image-menu"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvvid7Rti2V2O18lHOD46fsRqEkN4WLH29Ow&s"
                            alt="">
                    </div>
                    <div>
                        Expresso
                    </div>
                    <div class="text-price">39.000đ</div>

                </div>
            </div>

        </div>

    </div>

</div>
