.product-all {
  display: flex;
}
.w-10 {
  width: 14%;
}
.row-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.title-product {
  font-size: 18px;
  font-weight: 600;
  color: #111111;
  min-height: 3rem;
}

.price-product {
  margin-top: 0;
  opacity: 0.7;
  font-size: 16px;
}

.product {
  width: 100%;
  padding-bottom: 30px;
  position: relative;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.cursor-pointer {
  cursor: pointer;
}

.active-menu {
  font-weight: 600;
}

.pt-30 {
  padding-top: 100px;
  padding-bottom: 100px !important;
}

.height-fluid {
  height: 100%;
}
/* .height-fluid-card {
  height: 60%;
} */

.underline-none {
  text-decoration: none;
}

.search-product {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: 20%;
  right: 126;
  top: 230;
}

.input-search {
  height: 30px;
}

.filter-price {
  width: 50%;
  z-index: 1000;
  height: 4rem;
  left: 420;
  top: 230;
}
.filter-price input {
  padding: 0.3rem;
}

.btn-clear-filter {
  position: absolute;
  left: 950;
  top: 230;
}

.btn-primary-bg {
  background-color: #0d6efd;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  z-index: 1001;
}

.ml-start {
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}
