<html>

<head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <!-- css -->
  <link href='/css/bootstrap.min.css' rel='stylesheet' />
  <link href='/css/font-awesome.min.css' rel='stylesheet' />
  <link href='/css/auth/auth.css' rel='stylesheet' />
  <link href='/css/home/index.css' rel='stylesheet' />
  <link href='/css/common.css' rel='stylesheet' />
  <link href='/css/product/product.css' rel='stylesheet' />
  <link href='/css/product/product-detail.css' rel='stylesheet' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- script -->
  <script src='/js/bootstrap.min.js'></script>
  <script src='/js/bootstrap.bundle.min.js'></script>
  <script src='/js/jquery.min.js'></script>
  <script src="https://kit.fontawesome.com/b6bab03ff9.js" crossorigin="anonymous"></script>
  <title>{{t 'home.title'}}</title>
  <meta name='description' content='' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <link rel='stylesheet' href='' />
</head>

<body>
  {{#unless isLoggedIn}}
  <!-- Navbar -->
  {{> header}}
  <!-- Navbar -->
  {{/unless}}
  <div>

    {{{body}}}
  </div>
  {{#unless isLoggedIn}}
  <!-- Footer -->
  {{> footer}}
  {{/unless}}
  <!-- Footer -->
  <script src='/js/auth/main.js'></script>
  <script src='/js/home/home.js'></script>
</body>

</html>
